{% load static %}<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    
<head>
        <title>{{ company.name }}</title>
        <!-- Meta -->
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="author" content="Eyob Tariku">
        <meta name="description" content="We are a structural engineering company in Addis Ababa, Ethiopia that strategically applies the benefits and best practices of new methods to enhance traditional design-bid-build projects.">
        <meta name="keywords" content="">
        <meta name="HandheldFriendly" content="True">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- Favicon -->
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

        <!-- Typekit -->
        <script type="text/javascript" src="{% static 'js/lib/ppi0tso.js' %}"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        <!-- CSS -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- <link rel="stylesheet" href="https://use.typekit.net/cbw8uqx.css"> -->
        <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/lib/jquery-ui.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">

        <!-- Modernizr -->
        <script type="text/javascript" src="{% static 'js/lib/modernizr.js' %}"></script>
    </head>
    <body class="relative">
        <div id="loading"></div>
        <div id="keyboard_icons">
            <div id="up" class="key"></div>
            <div id="horizontal">
                <div id="left" class="active key"></div>
                <div id="down" class="active key"></div>
                <div id="right" class="active key"></div>
            </div>
        </div>
        <nav class="navbar">
            <div class="navbar-inner">
                <div class="container btnNavbarWrapper" data-toggle="collapse" data-target=".nav-collapse">
                    <a class="btn btn-navbar">
                        <img src="{% static 'img/placeholder.png' %}" data-id="mobile_nav" id="minus" class="load-png-or-svg" alt="open navigation">
                        <img src="{% static 'img/placeholder.png' %}" data-id="mobile_nav" id="plus" class="load-png-or-svg" alt="close navigation">
                    </a>
                    <a class="brand hidden-phone" href="#home">
                        <img src="{% static 'img/logo.png' %}" data-id="logo" class="logo" alt="{{ company.name }} Logo">
                        <img src="{% static 'img/logo_hover.png' %}" data-id="logo_hover" class="logo" alt="{{ company.name }} logo hover">
                        {{ company.name }}
                    </a>
                    <div class="nav-collapse collapse">
                        <ul class="nav pull-right relative">
                            <div id="nav-strip"></div>
                            <li><a href="#about" id="1" class="span1">About</a></li>
                            <li><a href="#process" id="2" class="span1">Process</a></li>
                            <li><a href="#services" id="3" class="span1">Services</a></li>
                            <li><a href="#contact" id="4" class="span1">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <section id="mobile-banner" class="hidden-desktop hidden-tablet">
            <div class="container-fluid">
                <div class="text-center">
                    <img src="{% static 'img/logo-bg.png' %}" class="mobile-logo" alt="Solomon Engineering Group">
                    <h1>{{ company.name }}</h1>
                    <p class="text-fade text-center small">{{ company.tagline }}</p>
                </div>
            </div>
        </section>

        <div id="home" class="flexslider hidden-phone">

            <ul class="slides">
                {% for slide in slide_list %}
                <li data-id="{{ forloop.counter0 }}">
                    <div class="image">
                        {% if slide.wallpaper.url %}
                        <img src="{{ slide.wallpaper }}" alt="{{ slide.short_title }}">
                        {% else %}
                        <img src="{% static 'img/placeholder.png' %}" alt="{{ slide.title }}">
                        {% endif %}
                    </div>
                    <div class="content">
                        <div class="top-bar"></div>
                        <div class="titles">
                            <h3>{{ slide.title }}</h3>
                            <h4>{{ slide.description }}</h4>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div id="blueprints">
            <div id="spacer"></div>
            <section id="about" class="relative">
                <div class="container">
                    <div class="row">
                        <div class="span12 section-header">
                            <span class="title-bar"></span>
                            <h1>About</h1>
                        </div>
                    </div>
                </div>
                <div class="container module" id="what_module" data-id="0">
                    <div class="row">
                        <div class="span12 relative">
                            <blockquote>
                                <p><i class="fa fa-quote-left"></i>&nbsp; {{ company.quote }}.&nbsp; <i class="fa fa-quote-right"></i></p>
                                <small class="text-right">{{ company.quote_speaker }}</small>
                            </blockquote>
                            <br>
                            <h3>{{ company.description1 }}</h3>
                            <p>{{ company.description2 }}</p>
                        </div>
                    </div>
                </div>
                <div class="banner">
                    <div class="container module" id="who_module" data-id="1">
                        <div class="row">
                            <div class="span12" id="thumbnails">
                                <ul>
                                    {% for staff in staff_list %}
                                    <li data-id="{{ forloop.counter }}">
                                        {% if staff.avatar %}
                                        <img src="{{ staff.avatar.url }}" alt="{{ staff.full_name }}">
                                        {% else %}
                                        <img src="{% static 'img/john_doe_avatar.png' %}" data-id="dale" alt="John">
                                        {% endif %}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span12">
                                <div class="flexslider" id="bios">
                                    <ul class="slides">
                                        <li>
                                            <div class="bio-meta">
                                                <h4>The Team</h4>
                                            </div>
                                            <div class="bar"></div>
                                            <p>{{ company.team_description }}</p>
                                        </li>
                                        {% for staff in staff_list %}
                                        <li>
                                            <div class="bio-meta">
                                                {% if staff.cv %}
                                                <a href="{{ staff.cv.url }}" class="cv" target="_blank">View CV</a>
                                                {% endif %}
                                                <h4>{{ staff.full_name }}</h4>
                                            </div>
                                            <div class="bar"></div>
                                            <p>{{ staff.bio  }}</p>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container" id="about_menu">
                    <div class="row hidden-phone">
                        <div class="span12">
                            <ul>
                                <li class="active" id="what" data-id="0"><span>1 /</span>&nbsp;What We do</li><li id="who" data-id="1"><span>2 /</span>&nbsp;Who We Are</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <div class="hidden-desktop">
                <div class="container">
                    <div class="row">
                        <div class="span12 section-header">
                            <span class="title-bar"></span>
                            <h1>Our Team</h1>
                        </div>
                    </div>
                </div>

                <div id="team-accordion" class="accordion">
                {% for staff in staff_list %}
                  <header>
                      <h3>{{ staff.full_name }}</h3>
                      <small>{{ staff.position }}</small>
                      <div class="action-icon">
                         <span class="fa fa-plus"></span>
                      </div>
                  </header>
                  <div>
                   <div id="team-img-container">
                      {% if staff.avatar %}
                      <img class="team-img" src="{{ staff.avatar.url }}" alt="{{ staff.full_name }}">
                      {% else %}
                      <img class="team-img" src="{% static 'img/john_doe_avatar.png' %}" alt="{{ staff.full_name }}">
                      {% endif %}
                   </div>
                   <p>{{ staff.bio }}</p>
                  </div>
                {% endfor %}              
                </div><!-- /.accrdion -->
            </div>

            <section id="process">
                <div class="container">
                    <div class="row">
                        <div class="span12 section-header">
                            <span class="title-bar"></span>
                            <h1>Process</h1>
                        </div>
                    </div>
                    <div class="row tiles">
                        {% for process in process_list %}
                        <div class="process-item">
                            <div class="tile">
                                <h2>{{ process.title }}</h2>
                                <div class="symbol">
                                    <!-- <img src="static/img/placeholder.png" data-id="process_mag" class="load-png-or-svg" alt="magnifying glass"> -->
                                    {% autoescape off %}{{ process.icon }}{% endautoescape %}
                                </div>
                            </div>
                            <p>{{ process.description }}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </section>

            <section id="services">
                <div class="relative hidden-phone">
                    <div class="container">
                        <div class="row">
                            <div class="span12 section-header">
                                <span class="title-bar"></span>
                                <h1>Services</h1>
                            </div>
                        </div>
                    </div>
                    <div class="content hover">
                        <div class="banner">
                            <div class="container">
                                <div id="counter">
                                    <div>0</div>
                                    <div class="flexslider">
                                        <ul class="slides">
                                            {% for service in service_list %}
                                            <li>{{ forloop.counter }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div>/</div>
                                </div>
                                <div class="flexslider" id="list">
                                    <ul class="slides">
                                        {% for service in service_list %}
                                        <li>
                                            <h2>{{ service.title }}</h2>
                                            <span>
                                                {{ service.description }}
                                            </span>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div id="navigation">
                                    <div class="arrow" data-id="next">
                                        <img src="{% static 'img/placeholder.png' %}" data-id="services_arrow_rt" class="load-png-or-svg" alt="right arrow">
                                        <img src="{% static 'img/placeholder.png' %}" data-id="services_arrow_rt_hover" class="load-png-or-svg" alt="right arrow hover">
                                    </div>
                                    <div class="arrow" data-id="prev">
                                        <img src="{% static 'img/placeholder.png' %}" data-id="services_arrow_lt" class="load-png-or-svg" alt="left arrow">
                                        <img src="{% static 'img/placeholder.png' %}" data-id="services_arrow_lt_hover" class="load-png-or-svg" alt="left arrow hover">
                                    </div>
                                    <div class="close">
                                        <img src="{% static 'img/placeholder.png' %}" data-id="services_x" class="load-png-or-svg" alt="close">
                                        <img src="{% static 'img/placeholder.png' %}" data-id="services_x_hover" class="load-png-or-svg" alt="close hover">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container tiles">
                            <div class="row hidden-phone" >
                                {% for service in service_list %}
                                <div class="tile" data-id="{{ forloop.counter0 }}">
                                    <img src="{% static 'img/placeholder.png' %}" data-id="services_plus" class="load-png-or-svg" alt="plus">
                                    <div>
                                        {% if forloop.counter < 10 %}
                                        <p>0{{ forloop.counter }} /</p>
                                        {% else %}
                                        <p>{{ forloop.counter }} /</p>
                                        {% endif %}
                                        <h2>{{ service.title }}</h2>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="hidden-desktop">
                    <div class="container">
                        <div class="row">
                            <div class="span12 section-header">
                                <span class="title-bar"></span>
                                <h1>Services</h1>
                            </div>
                        </div>

                        <div id="service-accordion" class="accordion">
                          {% for service in service_list %}
                          <h3><i class="fa fa-chevron-right"></i> {{ service.title }}</h3>
                          <div>
                           {{ service.description }}
                          </div>
                          {% endfor %}
                        </div><!-- /#accrdion -->
                    </div><!-- /.container -->
                </div>
            </section>

            <section id="contact">
                <div class="container">
                    <div class="row">
                        <div class="span12 section-header">
                            <span class="title-bar"></span>
                            <h1>Contact</h1>
                        </div>
                    </div>
                </div>
                <div id="map_canvas"></div>
                <div class="container">
                    <div class="row">
                        <div class="span4">
                            <h3>Get in touch &#8212;</h3>
                            <p>{{ company.phone }}</p>
                            <p><a href="mailto:sol.tesfay@gmail.com">{{ company.email }}</a></p>
                            <ul class="list-inline social-media-icons">
                                <li><a href="{{ company.facebook }}" title="Facebook"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href="{{ company.instagram }}" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="{{ company.linkedin }}" title="Linkedin"><i class="fa fa-linkedin-square"></i></a></li>
                                <li><a href="{{ company.twitter }}" title="Twitter"><i class="fa fa-twitter-square"></i></a></li>
                            </ul>
                            
                        </div>
                        <div class="span4">
                            <h3>Visit us &#8212;</h3>
                            <p>{{ company.location }}</p>
                            <p>{{ company.subcity }}</p>
                            <p>{{ company.city }}, {{ company.country }}</p>
                            <a href="#" target="_blank" id="directions">Get Directions</a>
                        </div>
                        <div class="span4">
                            <h3>Latest Tweet From Us &#8212;</h3>
                            <div>
                                <a class="twitter-timeline"
                                   data-width="640" 
                                   data-height="320" 
                                   data-theme="dark" 
                                   data-chrome="nofooter noheader transparent noborders" 
                                   data-tweet-limit="1" 
                                   href="https://twitter.com/hashtag/HappyNewYear2018" data-widget-id="945082809684758529">Latest Tweets</a>
                                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>                               
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer>
                <p class="text-center text-fade small">&copy; 2018. {{ company.name }}. All Rights Reserved. Developed by <a href="http://eyobofficial.github.io/" target="_blank">EyobOfficial</a><p>
            </footer>
        </div>
        <div id="ipad_spacer"></div>

        <!-- jQuery -->
        <script type="text/javascript" src="{% static 'js/lib/jquery-3.2.1.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

        <!-- jQuery UI -->
        <script type="text/javascript" src="{% static 'js/lib/jquery-ui.min.js' %}"></script>

        <!-- Custom Scripts -->
        <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>

        <!-- Google Scripts -->
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDIZAHg9AQXoWIIA97OjaIjTGyIvW2xDyU&amp;sensor=false"></script>
    </body>
</html>
